.task {
    padding-right: 30px;
    display: flex;
    column-gap: 15px;
    position: relative;
}

.task__completed {
    min-width: 20px;
    height: 20px;
    position: relative;
    border: 2px solid rgba(232, 232, 232, 1);
    background: none;
    border-radius: 50%;
    transition: all 0.1s ease;
}

.task__completed:hover {
    cursor: pointer;
    transition: all 0.1s ease;
    background: rgba(232, 232, 232, 1);
}

.task__completed-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease;
    opacity: 0;
    color: rgba(179, 179, 179, 1);
}

.task__completed:hover .task__completed-icon {
    transition: all 0.1s ease;
    opacity: 1;
}

.task__completed-active {
    transition: all 0.1s ease;
    min-width: 20px;
    height: 20px;
    position: relative;
    border: 2px solid rgba(77, 213, 153, 1);
    background: rgba(77, 213, 153, 1);
    border-radius: 50%;
}

.task__completed-active:hover {
    cursor: pointer;
}

.task__completed-icon-active {
    transition: all 0.1s ease;
    opacity: 1;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.task__title {
    color: rgba(0, 0, 0, 1);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.task__delete {
    transition: all 0.1s ease;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 5px;
}

.task:hover .task__delete {
    cursor: pointer;
    transition: all 0.1s ease;
    opacity: 1;
}