.folders {
    width: 200px;
    min-height: 100vh;
    padding: 55px 20px 0;
    background: rgba(244, 246, 248, 1);
    border-right: 1px solid rgba(241, 241, 241, 1);
}

@media (max-width: 479px) {
    .folders {
        position: absolute;
        left: 100%;
    }
}