.folders {
    width: 200px;
    min-height: 100vh;
    padding: 50px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: rgba(244, 246, 248, 1);
    border-right: 1px solid rgba(241, 241, 241, 1);
}

.folders__all {
    width: 160px;
    padding: 12px 10px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background: transparent;
    transition: all 0.3s ease;

    color: rgba(0, 0, 0, 1);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.folders__all:hover {
    cursor: pointer;
}

.folders__all-active {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03);
    background: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
    width: 160px;
    padding: 12px 10px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.folders__all-active:hover {
    cursor: pointer;
}

.folders__add {
    width: 160px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background: transparent;
    border: none;

    color: rgba(118, 118, 118, 1);

    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.folders__add:hover {
    cursor: pointer;
}

@media (max-width: 479px) {
    .folders {
        display: none;
    }
}