.popup {
    z-index: 3;
    transition: all 0.5s ease;
    padding: 20px;
    position: absolute;
    left: -265px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: rotate(-30deg);

    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 1);
}

.popup__active {
    z-index: 3;
    transition: all 0.8s ease;
    padding: 20px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: rotate(0deg);

    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 1);
}

.popup__close {
    position: absolute;
    right: -6px;
    top: -6px;
}

.popup__close:hover {
    cursor: pointer;
}

.popup__input {
    width: 200px;
    padding: 8px 10px 8px 10px;
    background: white;
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 4px;
    outline: none;

    color: rgba(199, 199, 199, 1);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.popup input::placeholder {
    color: rgba(199, 199, 199, 1);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.popup__colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup__color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.1s ease;
}

.popup__color:hover {
    cursor: pointer;
}

.popup__color1-active,
.popup__color2-active,
.popup__color3-active,
.popup__color4-active,
.popup__color5-active,
.popup__color6-active,
.popup__color7-active,
.popup__color8-active {
    border: 2px solid rgba(82, 82, 82, 1);
    transition: all 0.1s ease;
}

.popup__color1 {
    background: rgba(201, 209, 211, 1);
    transition: all 0.1s ease;

}

.popup__color2 {
    background: rgba(66, 184, 131, 1);
    transition: all 0.1s ease;
}

.popup__color3 {
    background: rgba(100, 196, 237, 1);
    transition: all 0.1s ease;
}

.popup__color4 {
    background: rgba(255, 187, 204, 1);
    transition: all 0.1s ease;
}

.popup__color5 {
    background: rgba(182, 230, 189, 1);
    transition: all 0.1s ease;
}

.popup__color6 {
    background: rgba(195, 85, 245, 1);
    transition: all 0.1s ease;
}

.popup__color7 {
    background: rgba(9, 1, 26, 1);
    transition: all 0.1s ease;
}

.popup__color8 {
    background: rgba(255, 100, 100, 1);
    transition: all 0.1s ease;
}

.popup__add {
    padding: 10px 0;
    border-radius: 4px;
    background: rgba(77, 213, 153, 1);
    border: none;

    color: rgba(255, 255, 255, 1);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.popup__add:hover {
    cursor: pointer;
}

@media (max-height: 479px) {
    .popup__active {
        left: 15px;
        bottom: 15px;
    }
}