.added {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.added__input {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    outline: none;

    color: rgba(199, 199, 199, 1);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.added__input::placeholder {
    color: rgba(199, 199, 199, 1);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.added__other {
    display: flex;
    align-items: center;
    gap: 10px;
}

.added__add {
    border-radius: 4px;
    background: rgba(77, 213, 153, 1);
    padding: 10px 20px;
    border: none;
    outline: none;

    color: rgba(255, 255, 255, 1);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.added__add:hover {
    cursor: pointer;
}

.added__cancel {
    border-radius: 4px;
    background: rgba(244, 246, 248, 1);

    padding: 10px 20px;
    border: none;
    outline: none;

    color: rgba(156, 156, 156, 1);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.added__cancel:hover {
    cursor: pointer;
}

@media (max-width: 479px) {
    .added__other {
        width: 100%;
        justify-content: space-between;
    }

    .added__add {
        width: 100%;
    }
}