.folder {
    position: relative;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.folder:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03);
    background: rgba(255, 255, 255, 1);
}

.folder__color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(66, 184, 131, 1);
}

.folder__title {
    width: 100px;
    color: rgba(0, 0, 0, 1);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    outline: none;
    border: none;
    background: transparent;
}

.folder__icon {
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.folder:hover .folder__icon {
    opacity: 1;
    transition: all 0.3s ease;
}