textarea {
    padding-top: 3px;
    width: 90%;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;

    color: rgba(0, 0, 0, 1);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
